@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
  --light-grey: #F6F9FC;
  --dark-terminal-color: #0A2540;
  --accent-color: #635BFF;
  --radius: 3px;
}

body {
  padding: 20px;
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
}

main {
  width: 480px;
}

form > * {
  margin: 10px 0;
}

button {
  background-color: var(--accent-color);
}

button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
  cursor: none;
}

input, select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: .6em;
}

fieldset, input, select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #F6F9FC solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0A253C;
  color: #00D924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size:0.7em;
}


.paypal-button-container {
  display: block;
  white-space: nowrap;
  margin: 0;
  background: 0;
  border: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 500;
  font-smoothing: antialiased;
  z-index: 0;
  font-size: 0;
  width: 100%;
  box-sizing: border-box;
}

.paypal-button {
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: none;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
}

.paypal-button * {
  cursor: pointer;
}

.paypal-button-container.paypal-button-env-test .paypal-button-text {
  font-family: Arial !important;
  background: rgba(0, 0, 0, 0.5) !important;
  color: transparent  !important;
  text-shadow: none  !important;
}

.paypal-button-card {
  cursor: pointer;
}

.paypal-logo {
  padding: 0;
  display: inline-block;
  background: none;
  border: none;
  width: auto;
}

.paypal-button-text, .paypal-button-space {
  display: inline-block;
  white-space: pre;
  vertical-align: top;
}

.paypal-button > .paypal-button-label-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.paypal-button > .paypal-button-label-container * {
  vertical-align: middle;
  height: 100%;
  text-align: left;
}

.paypal-button-tagline {
  max-width: 100%;
  font-size: initial;
  font-weight: normal;
  display: block;
  text-align: center;
  width: auto;
}

.paypal-button .paypal-button-spinner {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, .2);
  border-top-color: rgba(33, 128, 192, 0.8);
  border-radius: 100%;
  animation: paypal-button-spinner-rotation .7s infinite linear;
}

.paypal-button .paypal-button-spinner {
  display: none !important;
}

.paypal-button.paypal-button-loading * {
  display: none !important;
}

.paypal-button.paypal-button-loading .paypal-button-spinner {
  display: block !important;
}

.paypal-button-container .paypal-vault-header {
  margin-top: 10px;
}

@media only screen and (max-width: 249px) {
  .paypal-button-container .paypal-button-row.paypal-button-wallet.paypal-button-wallet-menu .paypal-button  {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 100%;
  }